.button-b{
    width: 65px;
    height: 65px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}