:host{
  button {
    padding: 5px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
  }
  .pagination{
    height: 200px;
    overflow-y: auto;
  }
  input{
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
  }

}
