<app-accordion header="Class Decorator"
               [tempRef]="classDecorator">

</app-accordion>

<ng-template #classDecorator>
  <button (click)="start()">Start</button>
  <button (click)="redirect()">Redirect</button>
  <button (click)="redirect2()">Redirect2</button>
  <button (click)="notify()"> notify</button>
</ng-template>


<app-accordion header="Full pagination"
               [tempRef]="fullPagination">

</app-accordion>

<ng-template #fullPagination>
  <div class="comments">
    <div class="pagination"
         *appFullPagination="asyncCallback.bind(this); takeUntil:takeUntil$; let asyncPaginationExample$">
      <ng-container *ngIf="asyncPaginationExample$ | async as data">
        <div *ngFor="let item of data.value">
          <p>{{item.text}}</p>
        </div>
        <app-loader [show]="data.loading"></app-loader>
      </ng-container>
    </div>
  </div>
</ng-template>


<app-accordion header="Generic list"
               [tempRef]="genericList">

</app-accordion>

<ng-template #genericList>
  <app-generic-list [formControl]="genericListControl"
                    [templateRef]="genericTemplateRef"></app-generic-list>
  <p>Generic Form Valid - {{genericListControl.valid}}</p>
</ng-template>

<ng-template #genericTemplateRef
             let-group="group"
             let-clear="clear">
  <div [formGroup]="group">
    <span>{{group.get('id').value}}</span>
    <input type="text"
           formControlName="name" />
    <span (click)="clear(group.get('name'))">X</span>
  </div>
</ng-template>



<app-accordion header="Dynamic pipe"
               [tempRef]="dynamicPipe">

</app-accordion>

<ng-template #dynamicPipe>
  <p *ngFor="let data of dynamicPipeData">
    <span>{{!isNull(data.text) ?   (data.text | dynamic:data.pipe:data.pipeParam) : (data.text | notAvailable) }} {{data.text ? 'asd' : null}}</span>
  </p>
</ng-template>
