<!-- <app-accordion header="Async Pagination directive"
               [tempRef]="paginationRef">
    <ng-template #paginationRef>
        <div class="pagination"
             *appFullPagination="asyncCallback.bind(this); takeUntil:takeUntil$; let asyncPaginationExample$">
            <ng-container *ngIf="asyncPaginationExample$ | async as data">
                <div *ngFor="let item of data.value">
                    <p>{{item.text}}</p>
                </div>
                <div *ngIf="data.loading"
                     class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </ng-container>
        </div>
    </ng-template>
</app-accordion> -->

<app-accordion header="generic list"
               [tempRef]="list">
    <ng-template #list>
        <app-generic-list [formControl]="genericList"
                          [templateRef]="myItemList"></app-generic-list>
    </ng-template>
</app-accordion>


<ng-template #myItemList
             let-group="group"
             let-func="clear">
    <div [formGroup]="group">
        <span>{{group.value.id}}</span>
        <input type="text"
               formControlName="value" />
        <button (click)="func(group)"></button>
    </div>
</ng-template>

