<div class="example-container">

  <app-accordion header="View Providers & Custom Validation"
                 [tempRef]="userDataTemplateRef">
    <ng-template #userDataTemplateRef>
      <form class="user-form-container"
            [formGroup]="viewProvidersExample">
        <app-user-date></app-user-date>
        <button [disabled]="viewProvidersExample.invalid">Send</button>
      </form>
    </ng-template>
  </app-accordion>

  <app-accordion header="The 'as' Syntax"
                 [tempRef]="asSyntaxRef">
    <ng-template #asSyntaxRef>
      <div class="as-syntax-container">
        <div class="address-container"
             *ngIf=" (asSyntaxObservableExaple$ | async) as address ">
          <div><B>Good</B></div>
          <div><span>{{address.country}}</span></div>
          <div><span>{{address.city}}</span></div>
          <div><span>{{address.zipCode}}</span></div>
        </div>

        <div class="address-container">
          <div><B>Bad</B></div>
          <div><span>{{(asSyntaxObservableExaple$ | async).country}}</span></div>
          <div><span>{{(asSyntaxObservableExaple$ | async).city}}</span></div>
          <div><span>{{(asSyntaxObservableExaple$ | async).zipCode}}</span></div>
        </div>
      </div>
    </ng-template>
  </app-accordion>

  <app-accordion header="Generic pure pipe"
                 [tempRef]="pipeRef">
    <ng-template #pipeRef>
      <div class="pipe-container">
        <div><span>{{reapetString | genericPipe:genericPipeExample}}</span></div>
      </div>
    </ng-template>
  </app-accordion>

  <app-accordion header="Resolver & RunOutsideAngular for polling"
                 [tempRef]="runOutSideRef">
    <ng-template #runOutSideRef>
      <div class="run-out-side-angular-container"
           *ngIf="runOutsideAngularExample">
        <div><span>{{runOutsideAngularExample.name}}</span></div>
        <div><span>{{runOutsideAngularExample.price | currency:'USD'}}</span></div>
      </div>
    </ng-template>
  </app-accordion>

  <app-accordion header="Don't Manipulate Input"
                 [tempRef]="userFormRef">
    <ng-template #userFormRef>
      <form class="user-form-container"
            [formGroup]="manipulateInputExample">
        <div class="text-container">
          <div>
            <app-input-text formControlName="text"></app-input-text>
          </div>
          <div>
            <app-display-text [text]="manipulateInputExample.get('text').value"
                              (textChanged)="manipulateInputExample.get('text').setValue($event)">
            </app-display-text>
          </div>
        </div>
        <button [disabled]="manipulateInputExample.invalid">Send</button>
      </form>
    </ng-template>

  </app-accordion>

  <app-accordion header="Input as interface and parent component injection"
                 [tempRef]="parentInjectionRef">
    <ng-template #parentInjectionRef>
      <app-person [person]="inputAsInterfaceExample"></app-person>
    </ng-template>
  </app-accordion>

  <app-accordion header="Structural directive"
                 [tempRef]="structuralRef">
    <ng-template #structuralRef>
      <div *appCarousel="let curr of structuralDirectiveExample; let ctrl = controller">
        <img src="{{'../../../assets/images/' + curr + '.png'}}" />
        <div>
          <button (click)="ctrl.previous()">previous</button>
          <button (click)="ctrl.next()">next</button>
        </div>
      </div>
    </ng-template>
  </app-accordion>

  <app-accordion header="General"
                 [tempRef]="generalRef">
    <ng-template #generalRef>
      <div><span class="bold">Debug:</span><span>ng.probe($0).componentInstance</span></div>
      <div><span class="bold">Stracture:</span><span>break components to multiple sub components</span></div>
      <div><span class="bold">Enum:</span><span>use enum insted of text comparison</span></div>
      <div><span class="bold">Injector tree:</span><span>services as singletone - clean state</span></div>
      <div><span class="bold">Stracture:</span><span>component desgin to handle user interaction - move complex logic
          to
          services</span></div>
      <div><span class="bold">Class vs Interface</span><span>considered changed interface to calss using default value
        </span></div>
      <div><span class="bold">Upgrade:</span><span>IVY as better render mechanism & libraries</span></div>
      <div><span class="bold">Socket.io:</span><span>as better user experince</span></div>
    </ng-template>
  </app-accordion>

</div>